*{
    margin: 0;
    padding:0
}
body{
    font-family: 'Courier New', Courier, monospace;
    font-size: 13px;
    text-decoration: none;
}
.container{
    width: 960px;
    margin: 0px auto;
    background-image: linear-gradient(to right,red,yellow);
}
.title{
    font-size: 20px;
    font-weight: bold;
    color: blue;
    text-align: center;
    padding: top 20px;
}
.main-calculator{
    width: 400px;
    border: 1px solid #3e3e3e;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
form {
}
input{
    width: 200px;
    padding: 5px 0 5px 0;
    text-align: right;
    margin-top: 10px;
}